<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Japanese and Kanji learning games and tools.">
    <meta name="keywords" content="Japanese,kanji,learning,games">
    <link rel="icon" href="kan.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css" class="cp-pen-styles">
    <title>Create a Game</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">KotobaWeb</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="create.html">Create Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="joinGame()">Join Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="kanji.html">Kanji</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://kotoba.k33.we.bs/">Discord Bot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <div id="gameJoiner">
      <div class="modal fade" id="currentGamesModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Join a Game</h5>
            </div>
            <form v-on:submit.prevent="joinWithName">
              <div class="modal-body">
                <div v-if="currentGameInfos.length === 0">
                  There aren't any public games running now.
                </div>
                <div v-else v-for="gameInfo in currentGameInfos">
                  <a :href="gameInfo.uri">{{ gameInfo.creatorName }}'s Game ({{ gameInfo.decks.slice(0, 3).join(', ') }})</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="app" class="page">
      <div class="spinner" v-if="!loaded">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <br>
      <div class="container" v-cloak>
        <form action="" v-on:submit.prevent="create" id="createForm" role="form" data-toggle="validator">
          <h2>Select Categories</h2><br>
          <select multiple id="selectdecks" name="selectdecks">
            <option v-for="deck in decks" :value="deck.shortName">
              {{ deck.longName }}
            </option>
          </select>
          <br>
          <h2>Configuration</h2><br>
          <table>
            <tr>
              <td>
                Answer Time Limit
                <table>
                  <tr>
                    <td>
                      <input type="range" v-on:input="answerTimeLimitChanged" :min="answerTimeLimitMin" :max="answerTimeLimitMax" class="slider form-control" id="answerTimeLimitSlider">
                    </td>
                  </tr>
                  <tr>
                    <td>
                    {{ answerTimeLimit }} Seconds
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                &nbsp;&nbsp;
              </td>
              <td>
                Answer Leeway Window
                <table>
                  <tr>
                    <td>
                      <input type="range" v-on:input="answerForgivenessWindowChanged" :min="answerForgivenessWindowMin" :max="answerForgivenessWindowMax" class="slider form-control" id="answerForgivenessWindowSlider">
                    </td>
                  </tr>
                  <tr>
                    <td>
                    {{ answerForgivenessWindow }} Milliseconds
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table><br>
          <label><input type="checkbox" v-model="private"> Private Game</label>
          <br>
          <br>
          <h2>Username</h2>
          <div class="form-group">
            <input type="text" v-model="userName" class="form-control col-sm-3" data-minlength="3" data-maxlength="20">
            <div class="help-block">1-20 characters long, letters and numbers only.</div>
          </div>
          <br>
          <input type="submit" value="Start" class="btn btn-primary"><br><br>
          <span class="error-text">{{ errorText }}</span>
        </form>
      </div>
    </div>
    <script src="multi.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="create.js"></script>
    <script src="gamejoiner.js"></script>
    <script>
      $(function () {
        var select = document.getElementById('selectdecks');
        if (select) {
          multi( select, {
              non_selected_header: 'Categories',
              selected_header: 'Selected Categories'
          });
        }
      });
    </script>
  </body>
</html>
