<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Japanese and Kanji learning games and tools.">
    <meta name="keywords" content="Japanese,kanji,learning,games">
    <link rel="icon" href="kan.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css" class="cp-pen-styles">
    <title>Kanji</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">KotobaWeb</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="create.html">Create Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="joinGame()">Join Game</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="kanji.html">Kanji</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://kotoba.k33.we.bs/">Discord Bot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <div id="gameJoiner">
      <div class="modal fade" id="currentGamesModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Join a Game</h5>
            </div>
            <form v-on:submit.prevent="joinWithName">
              <div class="modal-body">
                <div v-if="currentGameInfos.length === 0">
                  There aren't any public games running now.
                </div>
                <div v-else v-for="gameInfo in currentGameInfos">
                  <a :href="gameInfo.uri">{{ gameInfo.creatorName }}'s Game ({{ gameInfo.decks.slice(0, 3).join(', ') }})</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="app" class="page">
      <div class="spinner" v-if="!loaded">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div class="container" v-cloak>
        <h1>Kanji Stroke Order Database</h1><br>
        <input type="text" class="col-sm-4 form-control" v-model="kanjiString" placeholder="Search"><br>
        <img v-for="link in links" :src="link"><br><br>
        Powered by <a href="http://kanjivg.tagaini.net/">KanjiVG</a> and <a href="http://maurimo.github.io/kanimaji/index.html">Kanimaji</a>. All gif files are available <a href="https://github.com/mistval/kotoba/tree/master/kotoba/resources/images/kanjianimations">here</a>.
      </div>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="kanji.js"></script>
    <script src="gamejoiner.js"></script>
  </body>
</html>
