api/node_modules
api/generated
api/access_logs
api/.dockerignore
api/.eslintignore
api/.eslintrc.js
api/.gitignore
api/Dockerfile

bot/node_modules
bot/generated
bot/.dockerignore
bot/.eslintignore
bot/.eslintrc.js
bot/.gitignore
bot/Dockerfile
bot/data
bot/docker-compose.yml

nginx_windows_dev

react-frontend/node_modules
react-frontend/.dockerignore
react-frontend/.eslintignore
react-frontend/.eslintrc.js
react-frontend/.gitignore
react-frontend/Dockerfile

save_data
shared_data
.gitignore
docker-compose.yml
link.sh
