api/node_modules
api/generated
api/access_logs
api/.dockerignore
api/.eslintignore
api/.eslintrc.js
api/.gitignore
api/Dockerfile

bot/node_modules
bot/generated
bot/.dockerignore
bot/.eslintignore
bot/.eslintrc.js
bot/.gitignore
bot/config
bot/Dockerfile
bot/data
bot/docker-compose.yml

nginx_windows_dev

kotobaweb/node_modules
kotobaweb/.dockerignore
kotobaweb/.eslintignore
kotobaweb/.eslintrc.js
kotobaweb/.gitignore
kotobaweb/Dockerfile

user_data
.gitignore
docker-compose.yml
link.sh
