# These modules are "no longer maintained" and will not have style updated.
src/common/word_meaning.js
src/common/dictionary_query.js
src/common/dictionary_response_data.js
src/common/dictionary_result.js
src/common/glosbe_word_search.js
src/discord_message_processors/glosbe_word_lookup.js

# These modules are a mess and need more work than I can give them right now
# They should be refactored and re-added to style checks before being changed
# in any major way.
src/discord_commands/quiz.js
