version: '3'
services:
  kotoba-bot:
    image: registry.gitlab.com/kotoba/monochrome2/bot:latest
    build:
      context: .
      dockerfile: ./bot/Dockerfile
    restart: unless-stopped
    environment:
      MONGO_HOST: 'mongo_readwrite:27017'
      WORKER_HOST: 'kotoba-worker'
      FORCE_COLOR: '1'
    volumes:
      - ./user_data/bot:/var/app/data
      - ./user_data/shared_data:/var/shared_data
      - ./config:/var/config
    depends_on:
      - mongo_readwrite
  kotoba-web:
    image: registry.gitlab.com/kotoba/monochrome2/web:latest
    build:
      context: .
      dockerfile: ./kotobaweb/Dockerfile
    restart: unless-stopped
  kotoba-api:
    image: registry.gitlab.com/kotoba/monochrome2/api:latest
    build:
      context: .
      dockerfile: ./api/Dockerfile
    restart: always
    environment:
      MONGO_HOST: 'mongo_readwrite:27017'
      NODE_ENV: 'production'
    volumes:
      - ./user_data/shared_data:/var/shared_data
      - ./config:/var/config
    depends_on:
      - mongo_readwrite
  kotoba-worker:
    image: registry.gitlab.com/kotoba/monochrome2/worker:latest
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    restart: unless-stopped
    environment:
      MONGO_HOST: 'mongo_readwrite:27017'
    volumes:
      - ./config:/var/config
    depends_on:
      - mongo_readwrite
  mongo_readwrite:
    image: mongo:5.0.9
    command: '--wiredTigerCacheSizeGB 1.00'
    restart: unless-stopped
    volumes:
      - ./user_data/mongo_readwrite_data:/data/db
    ports:
      - '127.0.0.1:50001:27017'
  nginx:
    image: registry.gitlab.com/kotoba/monochrome2/nginx:latest
    build: ./nginx
    restart: unless-stopped
    depends_on:
      - kotoba-api
      - kotoba-web
    ports:
      - '127.0.0.1:3001:80'
